html{
	font-size: 12px;
}
.wrapper{
	width: 95% !important;
}
section.about{
	.left, .right{
		width: 100% !important;
		text-align: center !important;
	}
	.divider{
		display: none;
	}
}
section.advice{
	.divider{
		display:none;
	}
}
