body {
	
}
* {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
header, nav, section, article, aside, footer {
   display:block;
}
.error {
	color:red !important;
	border-color:red !important;
}
.wrapper {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
form {
	width:100%;
	overflow:hidden;
}
input, textarea {
	width:100%;
	
}
input[type=submit] {
	@extend .btn;
	
}
section {
	width: 100%;
	overflow: hidden;
	clear: both;
}
.divider{
	border-bottom: 1px solid black;
	margin: 30px 0;
}
.hide {
	display: none;
}
.show {
	display:block;
}
//hide header upon scrolling up
.nav-up {
    top: -80px;
}
.nav-down{
	top: 0;
}
//typed.js plugin customization 
.typed-cursor{
	font-size: 40px;
	font-weight: 600;
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}