body {
	
}
* {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
header, nav, section, article, aside, footer {
   display:block;
}
.wrapper {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
//vertically aligning elements
@mixin vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
//animation transition
@mixin transition {
	webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
section {
	width: 100%;
	overflow: hidden;
	clear: both;
}
.divider{
	border-bottom: 1px solid black;
	margin: 1.4rem 0;
}
.hide {
	display: none;
}
.show {
	display:block;
}
//hide header upon scrolling up
.nav-up {
    top: -80px;
}
.nav-down{
	top: 0;
}
//typed.js plugin customization 
.typed-cursor{
	font-size: 40px;
	font-weight: 600;
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

//responsiveslides.js plugin customization
/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  object-fit: cover;
  }
