.btn {
	@include transition;
	 font-weight: 600;
	 font-size: 1.2 rem;
	 letter-spacing: 3px;
	 text-transform: uppercase;
	 line-height: 1.2 rem;
	 border: solid #000 3px;
	 background: #fff;
	 display: block;
	 padding: 1rem 2rem;
	 &:hover{
	 	background:black;
	 	color: white;
	 }
}	

