header{
	height: 80px;
	width: 100%;
	position: fixed;
	background-color: white;
	border-bottom: 1px #eee solid;
	box-shadow: 1px 1px 1px #eee;
	z-index: 999;
	webkit-transition: top 0.3s ease-in-out;
     -moz-transition: top 0.3s ease-in-out;
     -o-transition: top 0.3s ease-in-out;
     -ms-transition: top 0.3s ease-in-out;
     transition: top 0.3s ease-in-out;
	.logo-link{
		&:hover{
			background: none;
		}
		.logo{
			margin-top: 25px;
			height: 30px;
		}
	}
	
	.right{
		width: 68%;
		li{
			line-height: 80px !important; 
		}
	}
	
}
section.welcome{
	overflow: auto;
	.left{
		position: absolute;
		.logo{
			height: 50px;
		}
		.hashtag{
			text-transform: uppercase;
			background-color: black;
			color: white;
			display: inline-block;
			padding: 8px;
		}

		.apply{
			margin-top: 50px;
		}
	}
	.right{
		width: 68%;
		overflow: hidden;
	}	
}

section.about{
	padding: 20px 0 100px 0;
	.wrapper{
		text-align: center;
		width:60%;
		h3{
			width: 70%;
		}
		.divider{
			position: absolute;
			border-bottom: 0px;
			border-right: 1px solid black;
			margin: 40px 0 0 0 !important;
			width: 30% !important;
			height: 40%;
		}
		p{
			position: relative;
			margin: 40px 0;
			a{
				font-size: 20px;
				padding: 0px;
			}
		}
		.btn{
			margin: 50px auto;
			display: block;
		}
		.left, .right{
			width: 46%;
		}
		.left{
			text-align: right;
		}
		.right{
			text-align: left;
		}
	}
}
section.deadlines{
	padding-bottom: 150px;
	.wrapper{
		overflow: hidden;
		h1{
			position: relative;
			transform: translate(50%, 0);
		}
		.divider{
			position: absolute;
			width: 300px !important;
			right: 30px;
			transform: translate(-50%, 65px);
		}
		.timelines{
			margin: 80px auto;
			text-align: center;
			.timeline{
				position: relative;
				display: inline-block;
				height: 120px;
				width: 200px;
				background-size: contain !important;
				background-repeat: no-repeat !important;
				&:nth-child(odd){
					background: url("../img/arrow_white.png");
				}
				&:nth-child(even){
					background: url("../img/arrow_black.png");
					color: white;
				}
				p{
					margin: auto;
					position: absolute;
					left: 0;
					right: 0;
					transform: translate(5%, 50%);
				}
			}
		}
		
	}
	
}
section.advice{
	margin-bottom: 80px;
	.row{
		display: block;
		overflow:auto;
		margin-bottom: 80px;
		height: 560px;
		overflow:hidden;
		&:nth-child(odd){
			img{
				float:right;
				&:hover{
					& ~ div{
						transform: translate(18px, 0);
					}
				}
			}
			div{
				float:left;
			}
		}
		&:nth-child(even){
			img{
				float:left;
				&:hover{
					& ~ div{
						transform: translate(-18px, 0);
					}
				}
			}
			div{
				float:right;
				.divider{
					width: 120px !important;
					transform: translate(-60px, 50px);
				}
			}
		}	
		.caption{
			webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		    transition: all 0.3s ease;
			width: 58%;
			.divider{
				position: absolute;
				width: 80px !important; 
				transform: translate(0px, 50px);
			}
			h1, h2, p, .btn{
				margin-left: 100px;
			}
			.btn{
				margin-top: 30px;
			}
			h1{
				position: relative;
				font-size: 60px;
			}
		}
		img{
			webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		    transition: all 0.3s ease;
			display: inline-block;
			width: 650px;
			margin: 50px 0;
			
			&:hover{
				cursor:pointer;
				-webkit-transform: scale(0.96,0.96);
				-moz-transform:scale(0.96,0.96);
			}			
		}
	}
}
section.news{
	margin-bottom: 150px;
	.wrapper{
		overflow: hidden;
		h1{
			position: relative;
			transform: translate(30%, 0);
		}
		#title-divider{
			position: absolute;
			width: 300px !important;
			right: 30px;
			transform: translate(-50%, 65px);
		}
		.news-items{
			margin: 100px auto;
			text-align: center;
			position: relative;
			.divider{
				position: absolute;
				display: inline-block;
				margin-top: 50px !important;
				width: 35px !important;
				transform: translate(-20px,0);
			}
			p{
				@include vertical-align;
				position:absolute;
				display: inline-block;
				width: 100px;
				font-size: 16px;
				margin-left: 40px;
			}
			.item{
				display: inline-block;
				width: 100px;
				height: 100px;
				margin: 0 40px;
				padding: 0 !important;
				border: 3px solid black;
				text-align: center;
				-ms-transform: rotate(-45deg); /* IE 9 */
			    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
			    transform: rotate(-45deg);			
				&:hover{
					&{
						background: none;
						-ms-transform: rotate(45deg); /* IE 9 */
					    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
					    transform: rotate(45deg);
					}
				}
			}
		}
	}
}
footer{
	.wrapper{
		border-top: 2px solid black;
		.left,.right{
			margin: 30px 0;
		}
		ul{
			a{
				font-size: 22px;
			}
		}
		p{
			font-size: 22px;
		}
	}
}
